 body {

      
    color: #45502d;
     background-color: black;
 }

 .text-primary{
    color:#45502d ;
 }
 .navbar-brand {
    font-size: small;

 }
@media(min-width:40rem) {
   body {
      font-size: x-large;
      text-align: left;
   }

  
}
 p{
   
    width: 500px;
    height: 500px;
 }

 