 body {

      
    color: #45502d;
     background-color:#7B8A40;
     margin:2em;
   border: 1px solid black !important;
 }

hr {
   margin-top: 3rem;
   margin-bottom: 3rem;
   border: 1px;
   border-top: 3px solid black;
}
.containermain-sectionborder{
 margin: 3px;
 color: #45502d;
}

#pbutton{
  position: fixed;
  right: 100px;
  top: 100px;
}
 .text{
    color:#45502d ;
 }
 .navbar-brand {
    font-size: small;

 }
@media(min-width:40rem) {
   body {
      font-size: x-large;
      text-align: left;
   }

  
}
 p{
   
    width: 500px;
    height: 500px;
 }

 