body{
  
   color: #45502d;
   background-color:#7B8A40 ;
}

h1{
   font-size: small;
   font-family: 'Inter';
   font-style: italic;
   color:#45502d ;
}
@media(min-width:40rem) {
   h1 {
      font-size: 2rem;
   }
}

.button{
  
   color:#7B8A40 ;
   background-color: #45502d;
}

.img{
   align-content: center;
   height: 20vh;
   width: 200px;

}

@media(min-width:40rem) {
   .img {
      height: 300px;
      width: 400px
   }
}

.navbar-brand{
   font-size: x-small;
}