body {
    color: #45502d;
    background-color: #7B8A40;
}
h1{
    color:#45502d;
    font-family: 'Inter';
        font-style: italic;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 155px;
        text-align: center;
}

@media(min-width:40rem){
    h1{
      font-size: 3rem;  
    }
}